.navbar-header {
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 1.12rem;
}

.navbar-header-left {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.navbar-header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}

.navbar-header-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.hamburger-icon {
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}