@use "./components/navbarHeader.scss";
@use "./components/social-icon.scss";
@use "./components//page-link.scss";
@use "./pages/landing.scss";
@use "./components/footer.scss";
@use "./components/page-heading.scss";

body {
    background-color: #c7e0e5;
    margin: 0px;
    overflow-x: clip;
    overflow-y: auto;
    scrollbar-color: black white;
    scrollbar-width: thin;
}