@use "./components/components.scss";
@use "./pages/pages.scss";
@use "./abstracts/variables.scss";

body {
    background-color: variables.$main-background-color;
    margin: 0px;
    overflow-x: clip;
    overflow-y: auto;
    scrollbar-color: black white;
    scrollbar-width: thin;
}