.landing-page-hero-content-parent {
    background-image: url("../../public/backgrounds/landing-background.jpg");
    background-size: cover;
    background-position: center;
    display: "flex"; 
    flex-direction: "column";
    align-items: "center";
    justify-content: "center";
    height: 90vh;
    position: relative;
}
.landing-page-hero-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    

    h1 {
        margin-top: 1.5rem;
        font-size: 3rem;
        margin-bottom: 0px;
        text-shadow: 1px 1px 1px black;
    }

    strong {
        white-space: pre-wrap;
        text-shadow: 1px 1px 1px black;
    }

    p {
        white-space: pre-wrap;
        text-align: center;
        text-shadow: 1px 1px 1px black;
    }

    .buffer-0 {
        height: 6.5rem;
    }

    .JamesPortrait {
        border-radius: 50%;
        height: 7.5rem;
    }
}